*{
    margin: 0;
    padding: 0;
}
header{
    position: relative;
    margin: auto;
    width: 1000px;
    height: 128px;
    background: red;
}
nav{
    position: relative;
    margin: auto;
    width: 1000px;
    height: 128px;
    background: red;
}